body {
    color:white;
    background:black;
    margin:0px;
    font-family: "Chakra Petch", sans-serif;
    margin-bottom: 100px;
}

header {
    border-bottom: solid 2px rgb(223, 194, 249);
    padding:20px;
    font-size: 25px;
    color: rgb(223, 194, 249);
}

.chamada {
background: rgb(90, 29, 144);
padding-bottom: 80px;
padding-top: 80px;
display: flex;
justify-content: center;
}

.chamada-texto {
    margin-right: 5%;
}

h1 {
    font-size: 35px;
}


.categoria-videos {
    display: flex;
    overflow-x: auto;
    gap: 10px;
}

.categoria {
    padding-left: 25px;
    padding-right: 25px;
}

.categoria-videos img {
    opacity: 0.5;
    height: 200px; 
}

.categoria-videos img:hover {
    opacity: 1.1;
    border: 1px solid rgb(250, 180, 244);
}

.categoria h2 {
    color: rgb(223, 194, 249);
}